# Node modules
frontend/node_modules/
backend/node_modules/

# Environment / secret files
frontend/.env
backend/.env

# Frontend build output
frontend/build/
frontend/dist/

# Backend logs
backend/logs/
*.log
tmp/
temp/

#production
/build

# OS & editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.tmp
